* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: #f4f7f2;
    color: #333;
}

header {
    background: #2e7d32;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 15px;
}

nav {
    display: flex;
    justify-content: center;
    gap: 10px;
    flex-wrap: wrap;
}

.nav-btn {
    padding: 10px 20px;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    background: white;
    color: #2e7d32;
    font-weight: bold;
    transition: 0.3s;
}

.nav-btn:hover {
    background: #dcedc8;
}

.nav-btn.active {
    background: #fffefe;
    color: rgb(17, 136, 51)
}

main {
    max-width: 1000px;
    margin: auto;
    padding: 30px 20px;
}

.pagina {
    display: none;
}

.pagina.ativa {
    display: block;
}

.card {
    background: white;
    padding: 25px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
    margin-top: 20px;
}

label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

input, select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid #ccc;
    border-radius: 8px;
}

button {
    margin-top: 20px;
    padding: 12px 20px;
    border: none;
    border-radius: 8px;
    background: #388e3c;
    color: white;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #2e7d32;
}

.resultado {
    margin-top: 20px;
    background: white;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 3px 10px rgba(0, 0, 0, 0.15);
}

.resultado p {
    margin-top: 10px;
    font-size: 16px;
}

.imagem-agrinho {
    width: 100%;
    max-width: 700px;
    display: block;
    margin: auto;
    border-radius: 10px;
    margin-bottom: 20px;
}

footer {
    text-align: center;
    background: #2e7d32;
    color: white;
    padding: 15px;
    margin-top: 40px;
}